@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-size: 16pt;
    font-family: Merriweather, Arial, Helvetica, sans-serif;
    color:white;
    background-color: black;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

#flow-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.hero > div {
    transform: translateY(40px);
    animation: moveUp 1.5s forwards;
}

@keyframes moveUp {
    0% {transform: translateY(40px);}
    100% {transform: translateY(0px);}
}

button {
    appearance: none;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 3em;
    color:white;
    text-transform: lowercase;
    display:inline-block;
    font-size: 0.6em;
    font-weight: bold;
    font-family: inherit;
    height: 3em;
    line-height: 3em;
    padding: 0 2em;
    cursor: pointer;
    transition: border-color 0.2s ease;
}

button:hover {
    border-color: rgba(255,255,255,1);
}